/**
 *
 */
:root {
    --isa-title-blue: #1E90FF;

    --site-bg: #1e1e1e;
    --border-gray: #6c6c6c;
    --work-view-header-bg: #292828;
    --work-view-menu-bg: #292828;
    --work-view-header-ctrl: #c3c3c3;
    --header-bg: #292828;
    --sidebar-bg: #292828;
    --sidebar-bg: #292828;
    --workarea-bg: #1e1e1e;
    --statusline-bg: #292828;
    --text-gray: #c3c3c3;
    --text-light-gray: #f8f8f8;
    --text-dark-gray: var(--border-gray);
    --cmd-button-text: var(--text-gray);
    --cmd-button-bg: var(--site-bg);
    --cmd-button-hover-border: #8A9A5B;
    --cmd-button-border: var(--border-gray);
    --ctrl-border-focus: #0054a8;
    
    --modal-dlg-content-bg: #c3c3c3;
    --modal-dlg-content-fg: #1e1e1e;
    --modal-dlg-header-bg: #536a7d;
    --modal-dlg-header-fg: #c3c3c3;
    --modal-dlg-border: #6c6c6c;

    --standard-dlg-content-bg: #f5f5f5;
    --standard-dlg-content-fg: #1e1e1e;
    --standard-dlg-header-bg: #536a7d;
    --standard-dlg-header-fg: #c3c3c3;

    --standard-dlg-command-bg: #e3e3e3;
    --standard-dlg-header-fg: #c3c3c3;
    --standard-dlg-border: #6c6c6c;

    --standard-button-bg: #292828;
    --standard-button-fg: #c3c3c3;
    --standard-button-hlfg: #f8f8f8;
    --standard-button-hover-border: #8A9A5B;
    --standard-button-border: #6c6c6c;

    --tbl-header-bg: var(--work-view-header-bg);
    --tbl-border: var(--border-gray);
    --tbl-row-hover-bg: #3f3f3f;
    --tbl-row-hover-border: var(--ctrl-border-focus);

    --scrollbar-thumb-fg: var(--header-bg);
    --scrollbar-track-bg: var(--border-gray);

    --wkv-ctrl-bg: var(--work-view-header-bg);
    --wkv-ctrl-border: var(--border-gray);
    --wkv-ctrl-border-focus: var(--ctrl-border-focus);

}


html,
body {
    height: 100vh;
    margin: 0px;
    background-color: var(--site-bg);
    font-family: sans-serif;
    color: var(--text-gray);
    font-size: 14px;
    /*first scrollbar thumb, second scrollbar track*/
    scrollbar-color: var(--scrollbar-thumb-fg) var(--scrollbar-track-bg);
}

/**
 * Workbench top level app root
 */
.site-container {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--site-bg);
    color: var(--text-gray);
    visibility: hidden;
}

/**
 * Title bar
 */
div#titlebar {
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--border-gray);
}

div#titlebar .wtb-item {
    margin-left: 10px;
}

/**
 * App container between titlebar and statusline
 */
div#mainContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

/**
 * Status line
 */
div#statusline {
    height: 30px;
    display: flex;
    background-color: var(--statusline-bg);
    border-top: 1px solid var(--border-gray);
}

div#statusline .wsl-item {
    display: inline-block;
    border: 0px solid var(--border-gray);
    width: 30%;
    min-height: 1em;
    text-align: left;
    align-self: center;
    margin-left: 10px;
}

/**
 * Side bar 
 */
div#sidebar {
    width: 225px;
    flex: none;
    background: var(--sidebar-bg);
    border-right: 1px solid var(--border-gray);
}

div#sidebar .sbar-topic-list {
    list-style: none;
    line-height: 30px;
    padding: 20px;
    margin: 0;
    font-size: 1.1em;
    color: var(--text-gray);
}

div#sidebar .sbar-item-list {
    list-style: none;
    line-height: 20px;
    margin-left: -15px;
    display: none;
}

div#sidebar .sbar-topic {
    padding-left: 0px;
    font-size: 1em;
    color: var(--text-gray);
}

div#sidebar .sbar-item {
    font-size: 1em;
    color: var(--text-gray);
    margin-left: -5px;
    padding-left: 5px;
}

div#sidebar li a:hover {
    color: var(--text-light-gray);
    cursor: pointer;
}

div#sidebar li :hover {
    color: var(--text-light-gray);
    cursor: pointer;
}

div#sidebar li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

div#sidebar .sidebar-header {
    background: var(--sidebar-bg);
    padding-left: 10px;
    height: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--border-gray);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sidebar-header-workicons {
    width: 100%;
    margin-left: 20px;
}

.sidebar-header-icon {
    font-size: 28px;
    color: var(--text-gray);
}

.sidebar-header-icon:hover {
    color: var(--text-light-gray) !important;
    cursor: pointer;
}


/**
 * Workarea 
 */
div#workarea {
    flex: 1;
    background-color: var(--workarea-bg);
    overflow: auto;
    padding: 15px;
}

div#workarea .work-view {
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--border-gray);
    margin-bottom: 20px;
}

.work-view-body {
    min-height: 100px;
    padding: 20px 20px 10px 20px;
}

.work-view-header {
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--work-view-header-bg);
    color: var(--text-light-gray);
    border-bottom: 1px solid var(--border-gray);
    padding-left: 10px;
    padding-right: 10px;
}

.wkv-header-item {
    width: 100%;
    text-align: center;
}

.wkv-header-item-title {
    width: 100%;
    text-align: center;
}

.wkv-header-item-left {
    width: 40px;
    min-width: 40px;
    text-align: left;
    color: var(--work-view-header-ctrl);
    display: flex;
}

.wkv-header-item-right {
    width: 40px;
    min-width: 40px;
    text-align: right;
    color: var(--work-view-header-ctrl);
}

.wkv-header-item-menu {
    min-width: 20px;
}

.wkv-header-action-ctrl {
    font-size: 18px;
}

i.wkv-header-action-ctrl:hover {
    color: var(--text-light-gray);
    cursor: pointer;
}

.wkv-header-menu-ctrl {
    font-size: 18px;
}

i.wkv-header-menu-ctrl:hover {
    color: var(--text-light-gray);
    cursor: pointer;
}

.wkv-header-work-indicator {
    visibility: hidden;
    width: 24px;
    height: 24px;
}


/**
 * Work views 
 */
.cmd-button {
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--cmd-button-border);
    color: var(--cmd-button-text);
    background-color: var(--cmd-button-bg);
    font-size: 1.0em;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.cmd-button:hover {
    color: var(--text-light-gray);
    border-color: var(--cmd-button-hover-border);
}

.cmd-button:active {
    transform: translateY(1px);
}

.cmd-button-disabled {
    cursor: auto;
    text-align: center;
    border: 1px solid var(--cmd-button-border);
    color: var(--text-dark-gray);
    background-color: var(--cmd-button-bg);
    font-size: 1.0em;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.wkv-header-menu-container {
    align-self: self-start;
    margin-top: 10px;
}

.wkv-header-menu {
    display: none;
    position: relative;
    min-width: 100px;
    background-color: var(--work-view-menu-bg);
    z-index: 1;
    border: 1px solid var(--border-gray);
    padding: 5px;
}

/* left nose*/
.wkv-header-menu::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--work-view-header-ctrl);
}

.wkv-header-menu a {
    font-size: 12px;
    color: var(--text-gray);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.wkv-header-menu a:hover {
    color: var(--text-light-gray);
}

.menu-separator-top {
    border-top: 1px solid var(--border-gray);
}

.menu-separator-bottom {
    border-bottom: 1px solid var(--border-gray);
}

/**
 * WorkView Table
 * the border effort is due to fix header and collapse problem
 */
table.wkv {
    color: var(--text-gray);
    /*use separate cause of fix header border problem*/
    border-collapse: separate;
    border-spacing: 0;
    /*avoids? 2px border inaccuracy on the right*/
    width: 100.1%;
}

div.wkv-fix-tblhead-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    border: 1px solid var(--tbl-border);
}

.wkv-fix-tblhead-container th {
    position: sticky;
    top: 0;
    z-index: 1;
}

th.wkv {
    background: var(--tbl-header-bg);
    border-right: 1px solid var(--tbl-border);
    border-bottom: 1px solid var(--tbl-border);
    text-align: left;
    padding: 4px;
    font-size: 1.0em;
    font-weight: 300;
}

td.wkv {
    border-right: 1px solid var(--tbl-border);
    border-bottom: 1px solid var(--tbl-border);
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    padding: 4px;
}

tr.wkv:hover td {
    background-color: var(--tbl-row-hover-bg);
    color: var(--text-light-gray);
    border-bottom-color: var(--tbl-row-hover-border);
}

.wkv-tblheader-ctrl {
    margin-right: 4px;
}

.wkv-tblheader-ctrl:hover {
    color: var(--text-light-gray);
    cursor: pointer;
}

.wkv-tblheader-search-tf {
    margin-left: 10px;
    margin-right: 0px;
    background: var(--tbl-header-bg);
    border: 1px solid var(--tbl-border);
    color: var(--text-gray);
    outline: none;
    background-image: url('/images/search-16.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

.wkv-tblheader-tf:focus {
    border-color: var(--tbl-row-hover-border);
}

.wkv-tblcell-edit-tf {
    background: var(--tbl-header-bg);
    border: 1px solid var(--tbl-border);
    color: var(--text-light-gray);
    outline: none;
    width: 95%;
}

.wkv-tblcell-edit-tf:focus {
    border: 1px solid var(--wkv-ctrl-border-focus);
}

/** 
 * Standard  Dialog 
 */

.standard-dialog-container {
    border: solid 1px var(--standard-dlg-border);
    margin: 0;
    transform: translateX(-50%);
    top: 20%;
    left: 50%;
    width: 400px;
    background: var(--standard-dlg-content-bg);
    color: var(--standard-dlg-content-fg);
    padding: 0px;
}

.standard-dialog-header-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.2em;
    padding: 10px;
    background: var(--standard-dlg-header-bg);
    color: var(--standard-dlg-header-fg);
}

.standard-dialog-content-area {
    display: block;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
}

.standard-dialog-command-area {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 15px;
    background: var(--standard-dlg-command-bg);
}

.standard-dialog-close-icon {
    font-size: 16px;
}

.standard-dialog-close-icon:hover {
    cursor: pointer;
    color: #f8f8f8;
}

.standard-dialog-button {
    text-align: center;
    border: 1px solid var(--standard-button-border);
    color: var(--standard-button-fg);
    background-color: var(--standard-button-bg);
    font-size: 1.0em;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    padding: 0;
    border-radius: 0;
}

.standard-dialog-button:hover {
    cursor: pointer;
    color: var(--standard-button-hlfg);
    border-color: var(--cmd-button-hover-border);
}

.standard-dialog-button:active {
    transform: translateY(1px);
}

.standard-dialog-button:focus {
    outline: 0;
    color: var(--standard-button-hlfg);
}

.standard-dialog-textfield {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1em;
}

p.std-dlg-input {
    margin-bottom: 5px;
}

/** 
 * Modal Dialog 
 */

.modal-dialog-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.modal-dialog-content {
    background-color: var(--modal-dlg-content-bg);
    color: var(--modal-dlg-content-fg);
    margin-top: 100px;
    border: 1px solid var(--modal-dlg-border);
    position: relative;
    display: inline-block;
}

.modal-dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-dlg-header-bg);
    color: var(--modal-dlg-header-fg);
    min-height: 40px;
    width: 100%;
}

.modal-dialog-view-area {
    display: inline-block;
}

.modal-dialog-view-area-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--modal-dlg-content-bg);
    display: none;
    font-size: 18px;
    color: black;
    align-content: top;
    text-align: center;
}

.mdlg-header-item {
    text-align: center;
}

.mdlg-logo-icon {
    margin-left: 10px;
}

.mdlg-title {
    font-size: 18px;
    width: 100%;
}

.mdlg-close-icon {
    font-size: 18px;
    margin-right: 10px;
}

.mdlg-close-icon:hover {
    cursor: pointer;
    color: #f8f8f8;
}

/** 
 * End Modal Dialog 
 */

/**
 * Helper and others 
 */

hr.solid {
    border: 1px solid var(--border-gray);
}

.rot90 {
    transform: rotate(90deg);
}

/**
 * Work View controls
 */
.wkv-label-ctrl {
    display: inline-block;
    font-size: 1.0em;
    font-weight: 300;
    margin-right: 10px;
    color: var(--text-gray);
}

.wkv-value-ctrl {
    font-size: 1.0em;
    font-weight: 300;
    text-align: left;

    background: var(--wkv-ctrl-bg);
    border: 1px solid var(--wkv-ctrl-border);
    color: var(--text-gray);
    width: 100%;
    height: 22px;
    outline: none;
}

.wkv-value-ctrl:hover:enabled {
    border: 1px solid var(--wkv-ctrl-border-focus);
}

.wkv-value-ctrl:focus {
    border: 1px solid var(--wkv-ctrl-border-focus);
}

.wkv-button-ctrl {
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--cmd-button-border);
    color: var(--cmd-button-text);
    background-color: var(--cmd-button-bg);
    font-size: 1.0em;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.wkv-button-ctrl:hover {
    color: var(--text-light-gray);
    border-color: var(--cmd-button-hover-border);
}

.wkv-button-ctrl:focus {
    color: var(--text-light-gray);
    border-color: var(--cmd-button-hover-border);
}

.wkv-button-ctrl:active {
    transform: translateY(1px);
}

.wkv-button-ctrl:disabled {
    pointer-events: none;
}

.wkv-textarea-ctrl {
    color: var(--text-gray);
    background-color: var(--site-bg);
    border-color: var(--border-gray);
    width: 100%;
    
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    text-align: justify;
}

.wkv-output-textarea-ctrl {
    outline: none;
    color: var(--text-gray);
    background-color: var(--site-bg);
    border-color: var(--border-gray);
    font-family: Lucida Console, monospace;
    font-size: 13px;
}

.input-readonly {
    pointer-events:none;
    border-style: none;
    outline: none;
    background: content-box;
    color: var(--text-light-gray);
}

.textarea-readonly {
    border-style: none;
    outline: none;
    resize: none;
    background: content-box;
    color: var(--text-light-gray);
}

.wkv-ctrlcomp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.wkv-compset {
    display: flex;
    flex-direction: column;

    border: none;
    padding: 0;
    margin-inline: 0;
    margin: 0;
    margin-bottom: 20px;
}

.wkv-compset-border {
    border: 1px solid var(--border-gray);
    padding: 10px;
    padding-top: 20px;
}

/**
 * Intro text box 
 */
 .overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.4);
    z-index: 1;
    cursor: default;
    overflow: hidden;
   }

  .intro-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .intro-content {
    display: flex; 
    text-align: center;
    min-width: 780px;
    margin-top: -100px;
    margin-left: 225px;
    color: var(--text-gray);
    border: 1px solid var(--border-gray);
  }